# Geckodriver/addons should be downloaded by the user.
geckodriver
geckodriver.*
adblocker.xpi

# My playlists won't be provided.
playlist/*

# requirements.txt file is provided, You don't need pipfile
Pipfile
Pipfile.*

# MY API KEY IS VERY, BY VERY I MEAN VEEEERY SECRET
spotify_client

#HTML files are created for debugging search_youtube_noapi function, let's just ignore it
*.html

#Sublime files
*.sublime-*

#pycache
__pycache__/*

#Test files shouldn't be included
test*